<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">From simple websites to complex custom applications.</h2>
                <hr class="light">
                <p class="text-faded">I have been building websites almost as long as the web has been invented. My first e-commerce site went online in 1996. Since then I've worked for companies big and small providing such diverse solutions as art gallery websites, legal document management systems, and a patient-tracking solution for a large healthcare organisation.</p>
                <p class="text-faded">My work always has a sharp focus on security: following a recent spate of high-profile hacks in the news it is more important than ever to ensure your online business is resistant to attack. When creating new solutions, I always ensure the latest OWASP security considerations are taken into account; in addition I can undertake independent security reviews of any existing sites or applications.</p>
                <p class="text-faded">Please browse my portfolio to read about some recent case studies. Contact me any time for a quotation or to set up an exploratory discussion.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
