<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>At last, a web developer who speaks your language</h1>
            <hr>
            <p>Daniel Hume can build a compelling online presence for your organisation. No techno-speak, just solutions. Secure, dependable, affordable.</p>
			<!-- From simple websites to complex custom applications. -->
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
