  <!-- ======= About Section ======= -->
  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="assets/img/daniel.jpg" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span>Daniel Hume</span></p>
                      <p><span class="title-s">Profile: </span> <span>Full Stack Developer</span></p>
                      <p><span class="title-s">Email: </span> <span>daniel@consciouscomputing.co.uk</span></p>
                      <p><span class="title-s">Phone: </span> <span>+44 7971 239626</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">Skill</p>
                  <span>HTML</span> <span class="pull-right">85%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>CSS3</span> <span class="pull-right">75%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>PHP</span> <span class="pull-right">50%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>JAVASCRIPT</span> <span class="pull-right">90%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="lead">
                    I am a full-stack developer with expertise in React, Node
                    and Microsoft .NET platforms gained from over 15 years of
                      commercial experience. I am a tech leader advising startups
                      and larger enterprises on design, implementation and 
                      strategy. I am a project manager and product owner able to
                      guide projects from conception to completion. I can work
                      solo where necessary or recruit, manage and mentor a team
                      to meet your desired business outcome. I can demonstrate
                      software ROI by measuring cost savings and/or increased profitability.
                  </p>
                  <p class="lead">
                    My background in computing started in the 8-bit era, learning
                    to code on a ZX Spectrum plugged into the family TV set. 
                    After studying physics and mathematics at Cambridge University, 
                    I spent ten years in the marketing and advertising industry 
                    before combining my love of design with my fascination for 
                    software just as the web began to take over the world. The 
                    highlights of my broad and varied career in tech can be seen
                      in the case studies below.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->