    <!-- ======= Portfolio Section ======= -->
    <section id="work" class="portfolio-mf sect-pt4 route">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  Portfolio
                </h3>
                <p class="subtitle-a">
                  Click any image to read case studies from happy clients.
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <div class="row">
            {% include portfolio-card.html tag="epharm" %}
            {% include portfolio-card.html tag="flexi" %}
            {% include portfolio-card.html tag="egap" %}
          </div>
        </div>
      </section><!-- End Portfolio Section -->