<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Clear Process</h3>
                    <p class="text-muted">All projects are managed with openness and clarity. An Agile development approach ensures you are kept abreast of progress and see real results at every stage.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Timely Delivery</h3>
                    <p class="text-muted">All my projects, whatever the scope, are planned as iterative releases with interim delivery milestones. This ensures the whole project keeps to its roadmap and finishes on time.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">I use the latest platforms and techniques, patched against all known attack vectors, to ensure web security is built-in as standard.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love in Salzburg</h3>
                    <p class="text-muted">I am an Englishman who is passionate about web and application development, proud to call Austria my home!</p>
                </div>
            </div>
        </div>
    </div>
</section>
